@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
  background-image: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url('/src/assets/images/Logo.png.jpeg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

/* Capa de efecto gota de agua */
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.1) 0%, transparent 70%);
  animation: water-drop 3s infinite;
}

@keyframes water-drop {
  0%, 100% {
    transform: scale(1);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.1;
  }
}

.header-content {
  z-index: 2;
  position: relative;
}

.header-content h1 {
  font-size: 80px;
  color: #ffffff;
  text-align: center;
  line-height: 100px;
}

.menu {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  padding: 0 20px;
}

.logo {
  display: block;
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
  background-image: url('/src/assets/images/Logo.png.jpeg');
  background-size: cover;
  background-position: center;
}

.menu label {
  display: none;
}

.menu input {
  display: none;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar ul li a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.5s;
}

.navbar ul li a:hover {
  background-color: #c7aa6a;
}

@media (max-width: 991px) {
  .menu {
    padding: 20px;
  }

  .menu label {
    display: initial;
    cursor: pointer;
  }

  .menu label .menu-icono {
    width: 25px;
    filter: invert(1);
  }

  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #323131;
    display: none;
    border-top: 1px solid #2e2e2e;
  }

  .menu input:checked ~ .navbar {
    display: block;
  }

  .menu .navbar ul {
    flex-direction: column;
  }

  .menu .navbar ul li {
    width: 100%;
  }

  .menu .navbar ul li a {
    display: block;
    padding: 30px;
    text-align: center;
  }

  .menu .navbar ul li a:hover {
    background-color: #c7aa6a;
  }

  .header-content h1 {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .header-content h1 {
    font-size: 50px;
  }
}

@media (max-width: 400px) {
  .header-content h1 {
    font-size: 40px;
  }
}